################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UrGuide
/.vs
/node_modules/react-select-country-list
node_modules
**/.vscode/launch.json
**/.vscode/tasks.json
bin
BIN
Bin
obj
OBJ
Obj
*.cache
*.FileListAbsolute.txt
**/public/images/*.*
**/public/thumb/*.*
