################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UrGuide
/.vs
/node_modules/react-select-country-list
