
.copyright-div{
    margin-top:15px;
    font-weight:300;
    font-size:15px;
    color:#808080;
}
.rightbar {
    position:sticky;
    right: 20px;
    top: 80px;
    height:100%;
    background-color:transparent;
  
}

.link {
    color: #4591de !important;
    font-weight:500 !important;
}


@media only screen and (max-width: 768px) {
    .rightbar {
        display: none;
    }
}

.text{
    font-size:15px;

}

.btn{
    color:#FF7B77;
    font-size: 12px;
    text-transform:uppercase;
    margin-left: 10px;
}

.more {
    color: #FF7B77;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 93px;
}

.suggestions {
    margin-top: 20px;
}

.title {
    font-size: 12px;
    text-transform: uppercase;
}

.popular {
    background-color: #f7f8fa;
    height: 100%;
    padding-bottom: 30px;
}
