.navigation {
  margin-top: 80px;
  background-color: #c1c1c1;
  width: 200px;
  height: 45px;
  width: 50%;
  margin: 0 auto;
  margin-block-end: 50px;
  text-decoration: none;
}

.client-btn {
  background-color: #ebebeb;
  height: 45px;
  padding: 30px 10px 30px 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 100;
}
.guide-btn {
  background-color: #4563de;
  height: 45px;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 100;
}

.client-btn:hover {
  background-color: #dedede;
}

.guide-btn:hover {
  background-color: #3951b3;
}

.register-avatar-wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: #dc003d;
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
  border-radius: 50px;
}

.typo {
  margin-bottom: 30px;
}
