
.user-page-container {
    margin-top: 20px;

}

.avatar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  /* border: 4px solid #d3d3d3; */
  padding: 0px;
   background-color: #d3d3d3;
  background-image: url("../../images/avatar.png");
  background-size: cover;
  background-position: center center;
}

.rating-and-reviews {
    margin-top: -30px;

}


@media (min-width: 576px) {
    .my-modal-dialog {
        max-width: none;

    }
}

.my-modal-dialog {
    width: 98%;
    height: auto;
    padding: 0;
}

.modal-content {
    height: 99%;
}

.reviews {
    margin-top: 4px;
 
    font-size: 15px;
}

.nav-btn-div {
    margin-top: 40px;
    margin-right: 5px;
}
.nav-btn-row {
    /*background-color:red;*/
    padding-top: 10px;
}


/*.btn-title {
    margin-left: 0px;
    font-size: 16px !important;
    font-weight: 500;
    color: #5f5f5f;
}*/

.lower-section {
    margin-top: 50px;
}
.follower-div{
    padding:5px;
}

.follower-div-photo {
    background-color: grey;
    height: 110px;
    width: 120px;
}

.following-card {
    height: auto;
    font-size: 14px;
    background-color: white;
    padding: 20px 8px 12px 18px;
    border-radius: 8px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.gallery-card {
    height: auto;
    background-color: white;
    padding: 20px 35px 20px 35px;
    border-radius: 8px;
    /*margin-bottom: 20px;*/
    margin: 5px;
    margin-bottom:30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


/*p{
    font-size:15px;
}*/

.upper-card {
    height: auto;
    background-color: white;
    padding: 40px 35px 30px 35px;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size:15px !important;
}



.photo-div{

    padding:8px;
    margin-bottom:4px;
}
.location{
    /*font-size:20px;*/
    font-weight:300;
    color:#acacac;
}
.date {
    /*font-size: 15px;*/
    font-weight: 300;
    color: #acacac;
}
.photo {
    height: 180px;
    width: 100%;
    background-color: #e8e8e8;
}
@media only screen and (max-width: 993px) {
   

    .about {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-btn-div {
        margin-top: 50px;
        margin-right: 5px;
    }

    
}




.edit-avatar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
.edit-panel-card {
    height: 250px;
    background-color: white;
    padding: 30px 15px 20px 15px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.edit-panel-link {
    /*font-size: 16px !important;*/
    font-weight: 500;
    color: #5f5f5f;
    margin-bottom:20px;
    text-decoration:none;
}


.edit-profile-card {
    height: auto;
    background-color: white;
    padding: 50px 35px 40px 35px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.edit-avatar {
    height: 125px;
    width: 125px;
    border-radius: 100px;
    /* border: 4px solid #d3d3d3; */
    padding: 0px;
    /* background-color: #d3d3d3; */
    background-image: url("../../images/avatar.png");
    background-size: cover;
    background-position: center center;
}

.avatar-error {
    border: 2px solid rgb(228, 68, 57);
    height: 125px;
    width: 125px;
    border-radius: 100px;
    /* border: 4px solid #d3d3d3; */
    padding: 0px;
    /* background-color: #d3d3d3; */
    background-image: url("../../images/avatar.png");
    background-size: cover;
    background-position: center center;
}

.create-icon {
    padding: 2px 3px 4px 2px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid black;
    margin-left: -20px;
    margin-top: -28px;
    background-color: #dedede;
}

.create-icon-error {
    padding: 2px 3px 4px 2px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid rgb(228, 68, 57);
    margin-left: -20px;
    margin-top: -28px;
    background-color: #dedede;
}

.create-icon:hover {
    background-color: #c4c4c4;
}

.photo-box {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-style: italic;
    color: white;
    font-size: 20px;
    border: 1px solid #d3d3d3;
    height: 300px;
    width: 100%;
    background-color: #d3d3d3;
    cursor: pointer;
    background-position: center center;
    background-size: cover;
}

.input-file {
    display: none;
}

.photo-box:hover {
    background-color: #b8b8b8;
}

.post-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}