.post-textarea{
    border:none;
    font-size:27px;
    font-weight:400;
}
    .post-textarea:focus {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }
.new-post-form{
    padding:5px 5px 30px 5px !important;
    margin-bottom:40px;
}

.chip {
    margin-left: 5px !important;
    font-weight: 500;
    font-size: 15px !important;
    border: 1.5px solid #3f51b5 !important;
    margin-bottom:10px !important;
}

.post-config-div {
    margin-bottom: 50px;
    margin-top: 10px;
}
.btn-disabled{
    color:#979797 !important;
}

.input-file, #data-sender {
    display: none;
}

.file-card {
    width: 100%;
    height: 220px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    padding: 0px;
    background-size: cover;
    background-position: center center;
}

.thumbnail {
    height: 240px !important;
    width: 100%;
    padding: 0px;
    background-size: cover;
    background-position: center center;
}


.new-post-card {
    width: 100%;
    height: 85px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.search-suggestions {
    height: auto;
    background-color: white;
    -webkit-box-shadow: 4px 16px 32px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 16px 32px -12px rgba(0,0,0,0.75);
    box-shadow: 4px 16px 32px -12px rgba(0,0,0,0.75);
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    padding: 5px 5px 15px 0px;
    position:absolute;
    z-index:50;
}

.suggestion-line {
    margin-top: 15px;
    margin-left: 4px;
}

    .suggestion-line:hover {
        cursor: pointer;
    }

.suggestion-icon {
    font-size: 15px !important;
    color: #787878;
}

.suggestion-text {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 8px !important;
}

    .suggestion-text:hover {
        color: black;
        opacity: 0.8;
    }

.suggestion-text-not-found {
    color: black;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    margin-left: 6px;
}


.new-post-btn{
    height:50px;
    background-color:#f3f3f3;
    border-radius:30px;
    width:100%;
    border:none;
    color:#676767;
    font-size:20px;
    font-weight:400;
    cursor:pointer;
    padding:10px 0px 0px 12px;
}

.modal-backdrop {
    background-color:#f1f1f1;
    opacity:0.3;
}

.new-post-btn:hover{
    opacity:0.8;
}

@media only screen and (max-width: 355px) {
    .new-post-btn {
     
        font-size: 18px;
        font-weight: 300;
    
    }
}
@media only screen and (max-width: 305px) {
    .new-post-btn {
        font-size: 16px;
        font-weight: 300;
        padding: 12px 0px 0px 12px;
    }
}



@media only screen and (min-width: 990px) {
    .timeline {
        display: table;
        margin: 0 auto;
    }
}

/* POST */

.category-tag {
    margin-left: 8px;
    padding: 5px 5px 5px 5px;
    background-color: #bdede6;
    color: black;
    font-size: 13px;
    min-width: 80px;
    font-weight: 400;
    text-transform: uppercase;
}

    .category-tag:hover {
        opacity: 0.8;
    }

.post-img {
    height: 250px !important;
    width: 100%;
    padding: 0px;
    background-size: cover;
    background-position: center center;
}

.unique-img {
    height: 450px !important;
    width: 100%;
    padding: 0px;
    background-size: cover;
    background-position: center center;
}

.cancel-file {
    margin-left: -22px;
    margin-top: -22px;
}

.post-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.comments{
    margin:30px 5px 5px 5px;
}

.cmt-div {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #f7f8fa;
    border-radius: 10px;
}

.accept, .reject {
    color:#6c757d;
}

.accept:hover{
    cursor:pointer;
    color:#1dc76f;
}

.reject:hover {
    cursor: pointer;
    color:#d4144f;
}

.comment-text {
    color: black;
    padding: 8px 10px 10px 10px;
    border-radius: 20px;
}
.user-rating{
    margin-top:10px !important;
    font-size:12px !important;
}

.new-bid{
    margin:0;
    margin-bottom:30px;
}

/* Itinerary */

.itinerary_wrapper {
    margin-top: 20px;
}
.itinerary {
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
}

    .itinerary:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 7px;
        width: 2px;
        height: 97%;
        background-color: #cad2d6;
    }

.itinerary__block {
    position: relative;
    margin-top: 42px;
    margin-bottom: 42px;
    padding-left: 15px;
}

    .itinerary__block:last-child {
        margin-bottom: 3em;
    }

    .itinerary__block:after {
        content: "";
        display: table;
        clear: both;
    }

.itinerary__midpoint {
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: cadetblue;
}

    .itinerary__midpoint:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 15px;
        border-top: 1px solid #c5e1ec;
    }

.itinerary__content {
    position: relative;
    margin-left: 20px;
}

    .itinerary__content p + p {
        padding-top: 0;
    }

    .itinerary__content:after {
        content: "";
        display: table;
        clear: both;
    }

.itinerary__place{
    font-size:16px;
}

.itinerary__midpoint--highlight > .itinerary__place {
    display: none;
}

.liked_icon {
    color: #1d32cf !important;
}

.like_div:hover {
    color:#1d32cf !important;
}

.disliked_icon {
    color: #cc0c0c !important;
}

    .dislike_div:hover {
        color: #cc0c0c !important;
    }

.reservation {
    width: 50px;
    height: 30px;
    align-content: center;
    display: flex;
    flex-direction: column;
}
 @media only screen and (max-width: 860px){
    .reservation-small-screen{
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;      
    }
 }