.select {
  z-index: 999 !important;
  height: 60px;
}

.active {
  display: block;
}

.not-active {
  display: none;
}

.next-btn {
  margin-left: 15px;
}

.avatar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.avatar {
  height: 125px;
  width: 125px;
  border-radius: 100px;
  /* border: 4px solid #d3d3d3; */
  padding: 0px;
  /* background-color: #d3d3d3; */
  background-image: url(https://i7.pngguru.com/preview/1016/429/148/computer-icons-download-avatar-avatar.jpg);
  background-size: cover;
  background-position: center center;
}

.avatar-error {
  border: 2px solid rgb(228, 68, 57);
  height: 125px;
  width: 125px;
  border-radius: 100px;
  /* border: 4px solid #d3d3d3; */
  padding: 0px;
  /* background-color: #d3d3d3; */
  background-image: url("C:/Users/Marc/source/repos/JeanMarcMbouma/urguide/UrGuide.WebApp/ClientApp/src/images/avatar.png");
  background-size: cover;
  background-position: center center;
}

.create-icon {
  padding: 2px 3px 4px 2px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid black;
  margin-left: -20px;
  margin-top: -28px;
  background-color: #dedede;
}

.create-icon-error {
  padding: 2px 3px 4px 2px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid rgb(228, 68, 57);
  margin-left: -20px;
  margin-top: -28px;
  background-color: #dedede;
}

.create-icon:hover {
  background-color: #c4c4c4;
}
.photo-box {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-style: italic;
  color: white;
  font-size: 20px;
  border: 1px solid #d3d3d3;
  height: 300px;
  width: 100%;
  background-color: #d3d3d3;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
}

.input-file {
  display: none;
}

.photo-box:hover {
  background-color: #b8b8b8;
}
